html(lang="en")
	head
		include ./common/_analytics.pug
		include ./common/_meta.pug

		meta(property="og:url", content="https://recollection.ukon.dev")
		meta(property="og:image", content=`https://recollection.ukon.dev/assets/gl/${glFileName}/${glFileName}.jpg`)
		meta(property="og:title", content=`${glName}`)
		meta(property="og:description", content=`${glDescription}`)

		meta(name="twitter:image" content=`https://recollection.ukon.dev/assets/gl/${glFileName}/${glFileName}.jpg`)
		meta(name="twitter:title" content=`${glName}`)
		meta(name="twitter:description" content=`${glDescription}`)

		title #{glName} | Recollection
	body
		.wrapper(data-barba="wrapper")
			.canvas-wrap
				canvas#canvas.canvas
			.container(data-barba="container" data-barba-namespace=glName)
				include ./common/_header.pug
				.contents
					.contents-data
						.contents-data-title #{glName}
						.contents-data-date #{glDate}
						.contents-data-description #{glDescription}
					.contents-back
						a(href="../") Back
		script(src="../js/main.js")